@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: Mulish;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%
}

.titl{
    margin-left: 10px;
    font-size: 35px;
    font-weight: 800;
}

.trav{
    color: #FF5400;
}

.nav-img{
    padding-top: 53px;
    margin-left: 100px;
}
.div-nav{
    display: flex;
}

nav ul{
    padding-top: 55px;
    margin-right: 60px;
    display: flex;
}

nav  li{
    list-style: none;
    margin-right: 44px;
    font-size: 18px;
    
}

.nav-li{
    color: #FF5400;
    font-weight: 700;
}

nav li a{
    text-decoration: none;
    color: #424247;
    font-weight: 400;
}

.rght{
    display: flex;
}


/* Banner section starts */

.bann-sec{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
    height: 700px;
    width: 1700px;
    border-radius: 16px;
    position: relative;
    border: 2px solid black;
    
}

.ban-in{
    color: white;
    text-align: center;
    position: absolute;
}

.ban-ttl{
    font-size: 64px;
    font-weight: 800;
    margin-top: 95px;
    margin-left: 400px;
    border: 4px solid none;
    
}

.bann-para{
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 400px;
    
}

.srch-bar{
    position: absolute;
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0.377);
    height: 80px;
    width: 900px;
    margin-top: 450px;
    margin-left: 430px;
    border-radius: 16px;
    
}

.sr-bar-items{
    height: 100px;
    width: 1100px;
    position: absolute;
    border-radius: 16px;
    margin-left: 58px;
    margin-top: 12px;
    
    
}



input, select, .sear{
    margin-top: 3px;
    border-radius: 10px;
    width: 174px;
    border-style: none;
    font-size: 16px;
    margin-right: 15px;
}

input{
    padding: 16px;
}
select{
    padding: 10px;
    width: 174px;
    height: 52px;

}

.sear{
    height: 52px;
    color: white;
    background-color: #FF5400;
    text-align: center;
    /* margin-top: 8px; */
}



/* Responsive Part */

@media screen and (max-width: 600px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .titl{
        font-size: 21px;
    }

    .ban-sec{
        width: 90%;
        height: 483px;
    }

    .ban-ttl{
        font-size: 22px;
    }

    .ban-para{
        font-size: 14px;
    }
    
}

/* for large devices */

